<!-- Stromporis HTML template-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strømpris</title>
    <style>
      body {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
      }

      .error {
        color: red;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #69dadb;
        color: black;
      }

      .topnav a.active {
        background-color: #193498;
        color: white;
      }
    </style>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega@5"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega-lite@5.6.0"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega-embed@6"
    ></script>
  </head>
  <body>
    <h1 style="font-family: Helvetica;">Strømpiser i Norge</h1>
    <h4 style="font-family: Helvetica; font-weight: normal;">Spotpriser ink. moms i fem ulike regioner av landet navngitt etter
    størrste tettsted.
      <br> Hentet fra <a href="https://www.hvakosterstrommen.no"> hvakosterstrommen.no api</a></h4>
    <!-- Add Navigation Bar to Docs.
    -->
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/docs">FastAPI Docs</a>
      <a href="/help/index.html">Help</a>
    </div>

    <div id="vis"></div>
    <!-- Create Form -->
    <form action="javascript:refreshPlot()" id="price-form">
      {% for location in location_codes%}
      <input type="checkbox" name="{{ location }}" value="{{ location }}" />
      <label for="{{ locations }}">{{ location_codes[location] }}</label>
      <br />
      {% endfor %}
      <label>End date:</label>
      <input type="date" name=end_date id="end" max={{today}} value={{today}} />
      <label> Days </label>
      <input type="number" name =days_to_plot id="days" min=1 max=11 value=7 />
      <button type="submit">Refresh</button>
    </form>

    <script type="text/javascript">
      async function refreshPlot() {
        // begin constructing URL to request the plot JSON
        const plotUrl = new URL(
          `${document.location.protocol}//${document.location.host}/plot_prices.json`
        );

        // get inputs from the form

        // get selected location checkboxes
        for (checkbox of document
          .getElementById("price-form")
          .querySelectorAll("input[type=checkbox]")) {
          if (checkbox.checked) {
            plotUrl.searchParams.append("locations", checkbox.value);
          }
        }
        var endInput = document.getElementById("end");
        if (endInput) {
          plotUrl.searchParams.append("end", endInput.value);
        } else {
          console.warn('No input with id="end"');
        }

        var daysInput = document.getElementById("days");
        if (daysInput) {
          plotUrl.searchParams.append("days", daysInput.value);
        } else {
          console.warn('No input with id="days"');
        }

        console.log(`requesting new chart from ${plotUrl.href}`);
        var response = await fetch(plotUrl.href);
        var spec = await response.json();

        var embedOpt = { mode: "vega-lite" };

        function showError(el, error) {
          el.innerHTML =
            '<div class="error" style="color:red;">' +
            "<p>JavaScript Error: " +
            error.message +
            "</p>" +
            "<p>This usually means there's a typo in your chart specification. " +
            "See the javascript console for the full traceback.</p>" +
            "</div>";
          throw error;
        }
        const el = document.getElementById("vis");
        vegaEmbed("#vis", spec, embedOpt).catch((error) =>
          showError(el, error)
        );
      }
      refreshPlot();
    </script>
  </body>
</html>
